<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Mechanik</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Mechanik.styles.css" asp-append-version="true" />
    @* Google Font Montserrat *@
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap">
    @* FontAwesome *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    @* Bootsrap *@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">


</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container-fluid d-flex justify-content-center align-items-center">
                <ul class="navbar-nav d-flex align-items-center">
                    <li class="nav-item">
                        <button class="btn btn-link text-dark" onclick="location.href='@Url.Action("Czesci", "Mechanik")'">Części</button>
                    </li>
                    <li class="nav-item mx-2">
                        <button class="btn btn-link navbar-brand text-dark special-button" onclick="location.href='@Url.Action("Index", "Mechanik")'">MECHANIK</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-link text-dark" onclick="location.href='@Url.Action("Uslugi", "Mechanik")'">Usługi</button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container text-center">
            <table class="footer-table">
                <tr>
                    <td>Adres: ul. Przykładowa 123, 00-001 Miasto</td>
                    <td class="footer-center">
                        <p class="footer-text">MECHANIK</p>
                    </td>
                    <td>Zapraszamy do korzystania z naszych usług!</td>
                </tr>
            </table>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/locales/bootstrap-datepicker.pl.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
