@model List<MechanikKonsola.Entities.SprzedazCzesci>;

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nazwa Części</th>
                <th>Cena</th>
                <th>Ilość na Magazynie</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.NazwaCzesci</td>
                    <td>@item.Cena</td>
                    <td>@item.IloscNaMagazynie</td>
                    <td><a class="btn btn-outline-success" asp-action="ZakCzesci" asp-route-ID="@item.Id">Zakup</a></td>
                </tr>
            }
        </tbody>
    </table>

    <a class="btn btn-outline-success float-right" asp-action="Index">Powrót</a>
</div>