<div class="header">
    <h1 style="font-weight: bold;">Witaj na MECHANIK!</h1>
    <h3>Na tej stronie możesz umówić się na wizytę u mechanika bądź zakupić części potrzebne do twojego samochodu.</h3>
</div>

<div class="main">
    <button class="btn btn-outline-success" onclick="location.href='@Url.Action("DodajRezerwacje", "Mechanik")'">
        <img src="@Url.Content("~/Zdjecia/Kalendarz.png")" alt="Zarezerwuj Termin">
        <span>Zarezerwuj Termin</span>
    </button>
    <button class="btn btn-outline-success" onclick="location.href='@Url.Action("Uslugi", "Mechanik")'">
        <img src="@Url.Content("~/Zdjecia/Uscisk.png")" alt="Sprawdź nasze usługi">
        <span>Sprawdź nasze usługi</span>
    </button>
    <button class="btn btn-outline-success" onclick="location.href='@Url.Action("Czesci", "Mechanik")'">
        <img src="@Url.Content("~/Zdjecia/Klucze.png")" alt="Zakup Części">
        <span>Zakup Części</span>
    </button>
</div>
